In [1]:
import os
import pandas as pd
import numpy as np
import datetime
from datetime import time

In [2]:
renfe = pd.read_csv("../Data/renfe.csv")

##### Getting to further know the content of the data

In [3]:
renfe.head()

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,0,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 06:20:00,2019-05-29 09:16:00,AV City,38.55,Turista,Promo
1,1,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 07:00:00,2019-05-29 09:32:00,AVE,53.40,Turista,Promo
2,2,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 07:30:00,2019-05-29 09:51:00,AVE,47.30,Turista,Promo
3,3,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 08:00:00,2019-05-29 10:32:00,AVE,69.40,Preferente,Promo
4,4,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 08:30:00,2019-05-29 11:14:00,ALVIA,NaN,Turista,Promo

In [4]:
renfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579771 entries, 0 to 2579770
Data columns (total 10 columns):
Unnamed: 0     int64
insert_date    object
origin         object
destination    object
start_date     object
end_date       object
train_type     object
price          float64
train_class    object
fare           object
dtypes: float64(1), int64(1), object(8)
memory usage: 196.8+ MB

In [5]:
renfe.origin.value_counts()

MADRID        1359423
BARCELONA      405621
SEVILLA        398445
VALENCIA       323086
PONFERRADA      93196
Name: origin, dtype: int64

In [6]:
renfe.destination.value_counts()

MADRID        1220348
BARCELONA      480074
SEVILLA        413155
VALENCIA       399679
PONFERRADA      66515
Name: destination, dtype: int64

In [7]:
renfe.train_type.value_counts()

AVE          1789258
ALVIA         182267
REGIONAL      145898
INTERCITY      99840
AV City        72791
MD-LD          51585
LD             41209
AVE-TGV        34755
AVE-MD         34182
R. EXPRES      31918
AVE-LD         31472
LD-MD          27305
TRENHOTEL      19348
MD-AVE          7592
MD              5543
LD-AVE          4808
Name: train_type, dtype: int64

In [11]:
renfe[renfe["train_type"]=="TRENHOTEL"].tail(30)

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
2574404,2574404,2019-04-19 04:34:34,PONFERRADA,MADRID,2019-05-07 02:36:00,2019-05-07 09:31:00,TRENHOTEL,45.8,Turista,Flexible
2574432,2574432,2019-04-19 04:35:05,PONFERRADA,MADRID,2019-05-01 02:36:00,2019-05-01 09:31:00,TRENHOTEL,45.8,Turista,Flexible
2574436,2574436,2019-04-19 04:35:10,PONFERRADA,MADRID,2019-04-30 02:36:00,2019-04-30 09:31:00,TRENHOTEL,45.8,Turista,Flexible
2574445,2574445,2019-04-19 04:35:21,PONFERRADA,MADRID,2019-04-29 02:36:00,2019-04-29 09:31:00,TRENHOTEL,45.8,Turista,Flexible
2577089,2577089,2019-04-19 05:05:21,MADRID,PONFERRADA,2019-04-28 22:14:00,2019-04-29 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577097,2577097,2019-04-19 05:05:34,MADRID,PONFERRADA,2019-04-26 22:14:00,2019-04-27 04:31:00,TRENHOTEL,74.2,Cama Turista,Flexible
2577102,2577102,2019-04-19 05:05:42,MADRID,PONFERRADA,2019-04-25 22:14:00,2019-04-26 04:31:00,TRENHOTEL,74.2,Cama Turista,Flexible
2577106,2577106,2019-04-19 05:06:43,MADRID,PONFERRADA,2019-04-24 22:14:00,2019-04-25 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577128,2577128,2019-04-19 05:07:51,MADRID,PONFERRADA,2019-04-23 22:14:00,2019-04-24 04:31:00,TRENHOTEL,NaN,NaN,NaN
2577151,2577151,2019-04-19 05:08:25,MADRID,PONFERRADA,2019-05-23 22:14:00,2019-05-24 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577155,2577155,2019-04-19 05:08:27,MADRID,PONFERRADA,2019-05-22 22:14:00,2019-05-23 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577160,2577160,2019-04-19 05:08:39,MADRID,PONFERRADA,2019-05-21 22:14:00,2019-05-22 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577165,2577165,2019-04-19 05:08:41,MADRID,PONFERRADA,2019-05-20 22:14:00,2019-05-21 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577169,2577169,2019-04-19 05:08:49,MADRID,PONFERRADA,2019-05-19 22:14:00,2019-05-20 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577174,2577174,2019-04-19 05:08:53,MADRID,PONFERRADA,2019-04-22 22:14:00,2019-04-23 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577182,2577182,2019-04-19 05:09:04,MADRID,PONFERRADA,2019-05-17 22:14:00,2019-05-18 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577187,2577187,2019-04-19 05:09:12,MADRID,PONFERRADA,2019-05-16 22:14:00,2019-05-17 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577191,2577191,2019-04-19 05:09:17,MADRID,PONFERRADA,2019-05-15 22:14:00,2019-05-16 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577196,2577196,2019-04-19 05:09:25,MADRID,PONFERRADA,2019-05-14 22:14:00,2019-05-15 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577201,2577201,2019-04-19 05:09:27,MADRID,PONFERRADA,2019-05-13 22:14:00,2019-05-14 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577208,2577208,2019-04-19 05:09:37,MADRID,PONFERRADA,2019-05-12 22:14:00,2019-05-13 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577213,2577213,2019-04-19 05:09:49,MADRID,PONFERRADA,2019-05-10 22:14:00,2019-05-11 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577218,2577218,2019-04-19 05:09:51,MADRID,PONFERRADA,2019-05-09 22:14:00,2019-05-10 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577222,2577222,2019-04-19 05:10:03,MADRID,PONFERRADA,2019-05-08 22:14:00,2019-05-09 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577226,2577226,2019-04-19 05:10:03,MADRID,PONFERRADA,2019-04-21 22:14:00,2019-04-22 04:31:00,TRENHOTEL,NaN,NaN,NaN
2577231,2577231,2019-04-19 05:10:13,MADRID,PONFERRADA,2019-05-07 22:14:00,2019-05-08 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577236,2577236,2019-04-19 05:10:15,MADRID,PONFERRADA,2019-05-06 22:14:00,2019-05-07 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577243,2577243,2019-04-19 05:10:25,MADRID,PONFERRADA,2019-05-05 22:14:00,2019-05-06 04:31:00,TRENHOTEL,45.8,Turista,Flexible
2577255,2577255,2019-04-19 05:10:50,MADRID,PONFERRADA,2019-04-30 22:14:00,2019-05-01 04:31:00,TRENHOTEL,NaN,NaN,NaN
2577265,2577265,2019-04-19 05:11:01,MADRID,PONFERRADA,2019-04-29 22:14:00,2019-04-30 04:31:00,TRENHOTEL,45.8,Turista,Flexible

In [8]:
renfe.train_class.value_counts()

Turista               1950303
Preferente             256082
Turista Plus           192908
Turista con enlace     169549
Cama Turista             1051
Cama G. Clase             214
Name: train_class, dtype: int64

In [9]:
renfe.fare.value_counts()

Promo                  1733423
Flexible                582743
Adulto ida              179844
Promo +                  73778
Individual-Flexible        214
Mesa                        99
Grupos Ida                   6
Name: fare, dtype: int64

##### Dropping unnecessary column

In [ ]:
renfe.drop("Unnamed: 0", axis=1, inplace=True)

##### Renaming columns

In [ ]:
renfe = renfe.rename(columns={"insert_date":"price_check"})

In [ ]:
renfe = renfe.rename(columns={"price_check":"price_check_datetime"})

In [ ]:
renfe = renfe.rename(columns={"train_class":"ticket_class"})

In [ ]:
renfe.head()

In [ ]:
test = renfe.pivot_table(index=["city_origin_code","city_destination_code","departing_date", "departing_time"], columns=["date_lag"], values=["price"], aggfunc="mean")

In [ ]:
test

In [ ]:
renfe.price_check_date.value_counts().sort_index(ascending=True)

In [ ]:
renfe.departing_date.value_counts().sort_index(ascending=True)

##### Understanding we have price check for trains departing beyond 05-June for all the range possible (27 days

In [ ]:
renfe[(renfe["departing_date"]>date_limit)&(renfe["date_lag"]>"27 days")]

In [ ]:
date_limit = datetime.datetime.strptime("2019-06-05 00:00:00", "%Y-%m-%d %H:%M:%S").date()

In [ ]:
date_limit_2 = datetime.datetime.strptime("2019-04-19 00:00:00", "%Y-%m-%d %H:%M:%S").date()

In [ ]:
renfe.date_lag.value_counts().sort_index(ascending=True)